@import './bs-import';
.breadcrumbs {
	padding: 15px 0;
	background: #cee0f3;
	min-height: 40px;
	margin-top: 5.7rem;
	@include media-breakpoint-up('md') {
		margin-top: 3.85rem;
	}
	@include media-breakpoint-up('xl') {
		margin-top: 4.65rem;
	}
}
@media (min-width: 483px) and (max-width: 768px) {
	.breadcrumbs {
		margin-top: 3.85rem;
	}
}

.breadcrumbs h2 {
	font-size: 28px;
	font-weight: 600;
	color: #37517e;
}
.breadcrumbs ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0 0 10px 0;
	margin: 0;
	font-size: 14px;
}
.breadcrumbs ol li + li {
	padding-left: 10px;
}
.breadcrumbs ol li + li::before {
	display: inline-block;
	padding-right: 10px;
	color: #4668a2;
	content: '/';
}
