.wrapper {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
}

.invoice {
	padding: 30px;
	h2,
	h5 {
		margin-top: 0px;
		line-height: 0.8em;
	}
	.small {
		font-weight: 300;
		font-size: 1rem;
	}
	hr {
		margin-top: 10px;
		border-color: #ddd;
	}
	.table {
		tr.line {
			border-bottom: 1px solid #ccc;
		}
		td {
			border: none;
		}
	}
}

.invoice-title {
	color: rgb(0, 0, 0);
}

.invoice .table .invoice .identity {
	margin-top: 10px;
	font-size: 1.1em;
	font-weight: 300;
}

.invoice .identity strong {
	font-weight: 600;
}

.grid {
	position: relative;
	width: 100%;
	background: #fff;
	color: rgba(0, 0, 0, 0.658);
	border-radius: 2px;
	margin-bottom: 25px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
